<%= form_for(@semester) do |f| %>
  <% if @semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@semester.errors.count, "error") %> prohibited this semester from being saved:</h2>

      <ul>
      <% @semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'col-lg-2 control-label'  %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :status, class: 'control-label'  %><br>
    <%= f.select(:status, ["current","Coming Soon"], {}, { :class => 'btn btn-default dropdown-toggle' }) %>
  </div>
  <div class="actions">
    <%= f.submit "Add", class: "btn btn-primary"%>
  </div>
<% end %>
