<p id="notice"><%= notice %></p>

<h1>Listing Semesters</h1>

<table class="table table-striped  table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.name %></td>
        <td><%= semester.status %></td>
        <td><%= link_to 'Show', semester, class: 'btn btn-mini btn-info' %></td>
        <td><%= link_to 'Edit', edit_semester_path(semester), class: 'btn btn-mini btn-warning' %></td>
        <td><%= link_to 'Destroy', semester, method: :delete,class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semester', new_semester_path %>
